
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Ncy with BullDog</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

            <li><a href="#/employee/{{ vm.inUser.md5_id }}"><i class="fa fa-user fa-fw"></i> {{ vm.inUser.name}}</a>
            </li>
            <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings </a>
            </li>-->
            <li class="divider"></li>
            <li><a ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>



        </ul>



        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="#/manager" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="#/employee/{{ vm.inUser.md5_id }}"><i class="fa fa-table fa-fw"></i> My Performance</a>
                    </li>

                    <!--<li>
                        <a href="#"><i class="glyphicon glyphicon-cog fa-fw"></i> Settings</a>
                    </li>-->
                    <li>
                        <a ng-click="vm.logout()"><i class="glyphicon glyphicon-off fa-fw"></i> Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <!--<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            &lt;!&ndash; /.col-lg-12 &ndash;&gt;
        </div>-->
        <!-- /.row -->
        <br/><!--
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-king  fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ vm.champs }}</div>
                                <div>Champions</div>
                            </div>
                        </div>
                    </div>
                    <a ng-click="vm.filterIt('primary')">
                        <div class="panel-footer">
                            <span class="pull-left">Select</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-knight fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ vm.good }}</div>
                                <div>Doing Good</div>
                            </div>
                        </div>
                    </div>
                    <a ng-click="vm.filterIt('success')">
                        <div class="panel-footer">
                            <span class="pull-left">Select</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-bishop fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ vm.improve }}</div>
                                <div>Need Improvement</div>
                            </div>
                        </div>
                    </div>
                    <a ng-click="vm.filterIt('warning')">
                        <div class="panel-footer">
                            <span class="pull-left">Select</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="glyphicon glyphicon-pawn fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ vm.bad }}</div>
                                <div>Bad Working Hours</div>
                            </div>
                        </div>
                    </div>
                    <a ng-click="vm.filterIt('danger')">
                        <div class="panel-footer">
                            <span class="pull-left">Select</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <a ng-click="vm.filterIt('all')">See All</a>
        </div>-->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Gernal Knowledge
                        <!--<div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    {{ vm.whichMonth.name }}
                                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li ng-repeat="month in vm.threeMonths" >
                                        <a ng-click="vm.currentMonthIndex=$index;vm.setCurrentMon()">{{ month.name }}</a>
                                    </li>

                                    <li class="divider"></li>
                                    <li><a href="">Currently for {{ vm.whichMonth.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-repeat="subject in vm.subjects">
                        <div class="table-responsive">

                        <table datatable="ng"  class="table table-bordered table-hover table-striped" style="max-width: 99%;">
                            <thead>
                            <tr>
                                <th>Topic</th>
                                <th>#Question</th>
                                <th>Earned</th>
                                <th>Status</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="topic in subject.topics" class="{{ (topic.amount==null)?'warning':'success' }}">

                                <td>
                                    {{ topic.topic_name }}
                                </td>
                                <td>{{ topic.no_of_questions }} </td>

                                <td>{{ (topic.amount==null)?'Not Done':topic.amount }}</td>
                                <td>{{ (topic.amount==null)?'Start Test':'Done' }} </td>


                            </tr>

                            </tbody>
                        </table>
                            </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->


            </div>
            <!-- /.col-lg-8 -->

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Gernal Knowledge, Test_id : 21, Topic: History

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                            <h2>Q1. what is capital of India in 1932?</h2>
                        <div class="row">
                            <div class="col-lg-6"><input type="radio" value="opt" name="response" > Delhi   </div>
                            <div class="col-lg-6"><input type="radio" value="opt" name="response" > Kolkata</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"><input type="radio" value="opt" name="response" > Bangolore</div>
                            <div class="col-lg-6"><input type="radio" value="opt" name="response" > New Delhi</div>
                        </div>
                        <br>
                        <br>

                        <div class="row">
                            <div class="col-lg-6"><button class="btn btn-danger"> Previous</button> <button class="btn btn-warning">Submit</button> <button class="btn btn-danger">Next></button> </div>
                            <div class="col-lg-6"></div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Index

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                       <ul>
                           <li><a href="#"> question 1</a></li>
                           <li><a href="#">question 2</a></li>
                           <li><a href="#">question 3</a></li>
                       </ul>

                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="table-responsive">
                   <h2> Results</h2>

                    <table   class="table table-bordered table-hover table-striped" style="max-width: 99%;">
                        <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>


                        </tr>
                        </thead>
                        <tbody>

                        <tr >


                            <td><b>Answered</b></td>
                            <td>40</td>


                        </tr>

                        <tr >


                            <td><b>Correct</b></td>
                            <td>28</td>


                        </tr>
                        <tr >


                            <td><b>Wrong</b></td>
                            <td>12</td>


                        </tr>
                        <tr >


                            <td><b>Earned</b></td>
                            <td>430 Rs</td>


                        </tr>

                        </tbody>
                    </table>
            </div>

            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->